{% extends '::base.html.twig' %}

{% block body %}
    <div class="jumbotron">
      <div class="container">
        <h1>{{ 'eni_demo.default.index.welcome'|trans }}</h1>
        <p>
        {% if is_granted('ROLE_USER') %}
            <p>{{ 'eni_demo.default.index.message.authenticated'|trans({'%name%': name}) }}</p>
            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-primary btn-lg" role="button">{{ 'My profile'|trans }} &raquo;</a>
        {% else %}
            <p>{{ 'eni_demo.default.index.message.anonymous'|trans }}</p>
            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-lg" role="button">{{ 'Registration'|trans }} &raquo;</a>
        {% endif %}
        </p>
      </div>
    </div>
    </div>
{% endblock %}
