{% extends 'base.html.twig' %}

{% block body %}
    <h1>Employees list</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Forname</th>
                <th scope="col">Birthname</th>
                <th scope="col">Biography</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><a href="{{ path('employee_show', { 'id': employee.id }) }}">{{ employee.id }}</a></td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.forname }}</td>
                <td>{% if employee.birthname %}{{ employee.birthname|date('Y-m-d') }}{% endif %}</td>
                <td>{{ employee.biography }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('employee_show', { 'id': employee.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('employee_edit', { 'id': employee.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('employee_new') }}">Create a new employee</a>
        </li>
    </ul>
{% endblock %}
